.menuBtn {

	background: center center no-repeat transparent;
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;

}
.wrap {
		width: 100%;
		z-index: 1;
		position: relative;
		margin: 0 auto;
		padding: 0;

}

.section {
	width: 100%;
	max-width: 1140px;
	min-width: 960px;
	z-index: 10;
	position: relative;
	margin: 0 auto;
	padding: 0 0 20px 0;
}


.inner {
	width: 960px;
	margin: 0 auto;
	position: relative;
	min-height: 50px;
	padding:30px 0;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:30px 0;
}


/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
	position: absolute;
	top: 215px;
	height: 50px;
	z-index: 9999;

}

.subMenu .inner {
	padding:0;
	font-weight: 400;
}

.end {
	margin: 0;
}
